body {
    color: "blue";
}

.button-merah {
    color: red;
}

.button-biru {
    color: blue;
}

#button-hijau {
    color: yellow;
}

#button-white {
    color: white;
}

.button-white {
    color: white;
}